body, html {
  height: 100%;
  min-width: 6em;
}

.main-background { 
  /* The image used */
  /* background-image: url("../images/footer_lodyas.png"); */
  background-color: #f6f6f6;

  /* Full height */
  height: 100%; 

  /* Creates a parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#main-header img {
  width: 100%;
  height: 100%;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
}

/****************************
** bootstrap grid gutters
*****************************/
/*
.top-buffer { margin-top:20px; }
*/

.row.gutter-10 {
  margin-left: -5px;
  margin-right: -5px;
  /* [class*="col-"] {
      padding-left: 5px;
      padding-right: 5px;
  }  */
}
.row.gutter-10 > [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.row.gutter-20 {
  margin-left: -10px;
  margin-right: -10px;
  /* [class*="col-"] {
      padding-left: 10px;
      padding-right: 10px; 
  } */
}

.row.gutter-20 > [class*="col-"] {
  padding-left: 10px;
  padding-right: 10px;
}

/****************************
** Colors
*****************************/
.bg-black {
  color: #fff;
  background: #000;
}

/* Serene and spa like */
.bg-2 {
  color: #fff;
  background: #3C5A7C;
}
/*
.bg-1 {
  color: #fff;
  background: #5BC0EB;
}
*/
.bg-3 {
  color: #fff;
  background: #DBD56E;
}

.bg-4 {
  color: #fff;
  background: #FC7753;
}

.border-2 {
  border-color: #3C5A7C !important;
}

/*
.border-1 {
  border-color: #5BC0EB !important;
}
*/

.border-3 {
  border-color: #DBD56E !important;
}

.border-4 {
  border-color: #FC7753 !important;
}

.bg-dark1 {
  background-color: #3C5A7C !important;
}

.bg-black1 {
  color: #fff;
  /* background-color: #1D2C3C !important; */
  background-color: #001011 !important;
}

.btn-2 {
  color: #fff;
  background-color: #3C5A7C;
  border-color: #3C5A7C !important;
}

.btn-3 {
  color: #fff;
  background-color: #DBD56E;
  border-color: #DBD56E !important;
}

.btn-4 {
  color: #fff;
  background-color: #FC7753;
  border-color: #FC7753 !important;
}

/**************************************
** Hover effects
**************************************/
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/**************************************
** Media queries
**************************************/
@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
 @media only screen and (max-device-width: 1366px) {
  .parallax {
      background-attachment: scroll;
  } 
}

